* {
  box-sizing: border-box;
}

:root {
  /* :root will have an additional --view-width variable provided via JS */
  --poster-height: calc((var(--view-width) / 2480) * 3508);
}

body {
  margin: 0;
  /* hide horizontal scroll bars... */
  overflow-x: hidden;
}

.poster {
  position: relative;
  background-size: cover;
  background-image: url(assets/background-no-text.jpg);
  width: var(--view-width);
  height: var(--poster-height);
}

.letter {
  position: absolute;
  height:
}


#letter1 {
  top: 100px;
  left: 500px;
}

#letter2 {
  top: 200px;
  left: 360px;
}

#letter3 {
  top: 200px;
  left: 420px;
}

#letter4 {
  top: 280px;
  left: 310px;
}

#letter5 {
  top: 280px;
  left: 370px;
}

#letter6 {
  top: 360px;
  left: 300px;
}

#letter7 {
  top: 360px;
  left: 360px;
}

#letter8 {
  top: 360px;
  left: 420px;
}

#letter9 {
  top: 360px;
  left: 480px;
}

#letter10 {
  top: 360px;
  left: 540px;
}

#letter11 {
  top: 360px;
  left: 600px;
}